@font-face {
    font-family: 'Avenir Arabic';
    src: url('AvenirArabic-Book.woff2') format('woff2'),
        url('AvenirArabic-Book.woff') format('woff'),
        url('AvenirArabic-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-Black.woff2') format('woff2'),
        url('Arial-Black.woff') format('woff'),
        url('Arial-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeueLTW06-93BlkExtObl';
    src: url('HelveticaNeueLTW06-93BlkExtObl.woff2') format('woff2'),
        url('HelveticaNeueLTW06-93BlkExtObl.woff') format('woff'),
        url('HelveticaNeueLTW06-93BlkExtObl.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('ArialMT.woff2') format('woff2'),
        url('ArialMT.woff') format('woff'),
        url('ArialMT.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('Arial-BoldMT.woff2') format('woff2'),
        url('Arial-BoldMT.woff') format('woff'),
        url('Arial-BoldMT.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica-Bold.woff') format('woff'),
        url('Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal; 
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica.woff2') format('woff2'),
        url('Helvetica.woff') format('woff'),
        url('Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica_1.woff2') format('woff2'),
        url('Helvetica_1.woff') format('woff'),
        url('Helvetica_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

