@media all and (max-width: 1199px) {
}

@media all and (min-width: 992px) {
  .menu ul {
    display: flex !important;
  }
}
@media all and (max-width: 1199px) {
  /* .single_blog_pragrap {
    padding: 0;
    height: 390px;
  } */
}
@media all and (max-width: 1080px) {
  .grap_subtitle,
  .grap_title {
    font-size: 15px;
  }
  .tk_list_item {
    text-align: center;
  }
  .roadmap_grap {
    display: block;
  }
  .roadmap_single {
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .grap_subtitle {
    padding-top: 0;
    padding-right: 60px;
  }
  .grap_title {
    height: 90px;
    text-align: left;
  }
  .grap_subtitle::after {
    left: calc(67% - 10px);
  }
  .roadmap_grap::after {
    position: absolute;
    height: 100%;
    width: 4px;
    left: 190px;
    top: -20px;
    content: "";
    background: #fff;
  }
  .roadmap_area {
    background: url("../images/roadmap-mobile.png") no-repeat scroll 0 0 / 100%
      100%;
  }
  .blog_body_area {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 991px) {
  .menu_area_main {
    position: relative;
  }
  .menu ul {
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background: white;
    top: 76px;
    padding: 19px;
    display: none;
    border-radius: 5px;
  }
  .menu ul li {
    width: 100%;
    display: block;
  }
  .menu ul li a.menu_link {
    width: 100%;
    /* text-align: center; */
    margin: 2px 0;
  }
  .mobile_buttons {
    display: block;
  }
  .hero_content {
    padding-bottom: 150px;
  }
  .hero_content a {
    background: blue;
  }
  .comnunity_text_out_box {
    justify-content: flex-start;
  }
  .comunity_m_area {
    padding: 60px 40px;
  }
  .gorvence_m_area {
    padding: 60px 40px;
  }
  .comnunity_text_innter {
    max-width: 100%;
  }
  .single_blgo_title {
    font-size: 32px;
  }
}

@media all and (max-width: 767px) {
  .hero_content {
    padding-top: 70px;
    padding-bottom: 101px;
  }
  .hero_content h1 {
    font-size: 45px;
  }
  .hero_content h1::after {
    right: 0;
    bottom: -11px;
    width: 100%;

    left: 0;
    margin: auto;
  }
  .aearn_right img {
    display: none;
  }
  .aearn_cont {
    margin-left: 50px;
  }
  .footer_left {
    flex-basis: 100%;
    text-align: center;
  }
  .footer_right {
    flex-basis: 100%;
  }
  .footer_area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social_menu ul {
    margin-bottom: 20px;
    justify-content: center;
  }
  .footer_cpyright {
    text-align: center;
  }
  .comunity_m_area {
    padding: 60px 20px;
  }
  .gorvence_m_area {
    padding: 60px 20px;
  }
  .tk_list ul li,
  .tk_list h3 {
    font-size: 20px;
  }
  .tk_list_item {
    text-align: center;
    padding: 0 20px;
  }
  .tk_list_footer p {
    font-size: 18px;
  }
  .tk_brand {
    max-width: 375px;
  }
  .token_area {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .token_title {
    font-size: 28px;
  }
  .token_code {
    font-size: 18px;
  }
  .tk_header {
    width: 400px;
  }
  .roadmap_grap::after {
    left: 100px;
  }
  .roadmap_title {
    font-size: 36px;
  }
  .blog_body_area {
    grid-template-columns: 1fr;
  }
  .single_blgo_title {
    font-size: 28px;
  }
  .single_blog_btn {
    font-size: 18px;
  }
}

@media all and (max-width: 575px) {
  .hero_area {
    background-size: cover;
  }
  p {
    font-size: 16px !important;
  }
  .aearn_cont {
    margin-left: 20px;
    padding-bottom: 0;
  }
  .comnunity_text_innter {
    padding: 0 20px;
  }
  .footer_right {
    justify-content: space-around;
  }
  .comunity_m_area {
    padding: 60px 0px;
  }
  .gorvence_m_area {
    padding: 60px 0px;
  }
  .porject_preview_m_area {
    padding-bottom: 15px;
  }
  .gorvence_m_area,
  .comunity_m_area {
    margin-top: 15px;
  }
  .aearn_area {
    padding-top: 20px;
  }
  .tk_list ul li,
  .tk_list h3 {
    font-size: 18px;
  }
  .mk_banner_content {
    padding: 70px 0;
    height: 450px;
    display: flex;
    align-items: center;
  }
  .roadmap_grap::after {
    left: calc(20% - 9px);
  }
  .roadmap_title {
    font-size: 42px;
  }
  .single_blgo_title {
    font-size: 24px;
  }
  .single_blog_btn {
    font-size: 16px;
  }
}

@media all and (max-width: 480px) {
  .hero_content h1 {
    font-size: 40px;
  }
  .social_menu ul li a {
    height: 45px;
    width: 45px;
  }
  .token_code {
    font-size: 16px;
  }
  .token_title {
    font-size: 26px;
  }
  .roadmap_grap::after {
    left: 68px;
  }
  .roadmap_title {
    font-size: 32px;
  }
}
