@media all and (max-width: 1199px) {
}

@media all and (min-width: 992px) {
  .menu ul {
    display: flex !important;
  }
}
@media all and (max-width: 1199px) {
  /* .single_blog_pragrap {
    padding: 0;
    height: 390px;
  } */
}
@media all and (max-width: 1080px) {
  .grap_subtitle,
  .grap_title {
    font-size: 15px;
  }
  .tk_list_item {
    text-align: center;
  }
  .roadmap_grap {
    display: block;
  }
  .roadmap_single {
    display: flex;
    max-width: 450px;
    margin: 0 auto;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  .grap_subtitle {
    padding-top: 0;
    padding-right: 60px;
  }
  .grap_title {
    height: 90px;
    text-align: left;
  }
  .grap_subtitle::after {
    left: calc(67% - 10px);
  }
  .roadmap_grap::after {
    position: absolute;
    height: 100%;
    width: 4px;
    left: 190px;
    top: -20px;
    content: "";
    background: #fff;
  }
  .roadmap_area {
    background: url("../images/roadmap-mobile.png") no-repeat scroll 0 0 / 100%
      100%;
  }
  .blog_body_area {
    grid-template-columns: 1fr 1fr;
  }
  .hero_m_area{
    background: url('../images/home/home-tab.png') no-repeat scroll 0 0 / cover;
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .earn_area {
    background: url(../images/home/yilow-tablet.png) no-repeat scroll 0 0 / cover;
  }
  .mk_app_hero_text {
    text-align: center;
    padding-bottom: 50px;
  }
  .mk_app_title {
    font-size: 42px;
  }
  .contact_title{
    margin-bottom: 60px;
  }
}
@media all and (max-width: 991px) {
  .menu_area_main {
    position: relative;
  }
  .menu ul {
    flex-direction: column;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    top: 70px;
    padding: 19px;
    display: none;
    border-radius: 0px 0px 20px 20px;
    background: #0d0d5b;
    box-shadow: 0px 14px 6px rgba(0, 0, 0, 0.16);
  }
  .menu ul li a.menu_link {
    font-size: 15px;
    color: white;
    transition: 0.5s;
    display: inline-block;
    padding: 6px 17px;
    border-radius: 11px;
    background: transparent;
    margin: 0 12px;
    border: 1px solid transparent;
    box-shadow: none;
    text-align: center;
}
.btn_primary {
  display: flex;
  justify-content: center;
  width: 90px;
  margin: 10px auto;
}
  .menu ul li {
    width: 100%;
    display: block;
  }
  .menu ul li a.menu_link {
    width: 100%;
    /* text-align: center; */
    margin: 2px 0;
  }
  .mobile_buttons {
    display: block;
  }
  .hero_content {
    padding-bottom: 150px;
  }
  .comnunity_text_out_box {
    justify-content: flex-start;
  }
  .comunity_m_area {
    padding: 60px 40px;
  }
  .gorvence_m_area {
    padding: 60px 40px;
  }
  .comnunity_text_innter {
    max-width: 100%;
  }
  .single_blgo_title {
    font-size: 32px;
  }
  .comunity_m_area {
    background: url('../images/comunity-mobile.png') no-repeat scroll 0 0 / 100% 105%;
    padding-bottom: 350px !important;
  }
  .gorvence_m_area{
    background: url('../images/comunity-two-bg.png') no-repeat scroll 0 0 / 100% 100%;
    padding-top: 500px !important;
  }
  .hero_content h1{
    font-size: 48px;line-height: 46px;
  }
  .hero_content a{
    font-size: 16px;
  }
  .hero_content {
    max-width: 350px;
  }
  .page_section,
  .contact_title{
    font-size: 42px;
  }
  .privacy_title {
    font-size: 24px;
  }
}

@media all and (max-width: 767px) {
  .privacy_single .w-50{
    width: 100% !important;
  }
  .privacy_contetn {
    padding: 70px 45px;
  }
  .hero_m_area{
    background: url('../images/home/home-mobile.png') no-repeat scroll 0 0 / cover;
  }
  .hero_content {
    padding-top: 70px;
    padding-bottom: 101px;
  }
  .hero_content h1 {
    font-size: 45px;
  }
  .hero_content h1::after {
    right: 0;
    bottom: -11px;
    width: 100%;

    left: 0;
    margin: auto;
  }
  .aearn_right img {
    display: none;
  }
  .aearn_cont {
    margin-left: 50px;
  }
  .footer_left {
    flex-basis: 100%;
    text-align: center;
  }
  .footer_right {
    flex-basis: 100%;
  }
  .footer_area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .social_menu ul {
    margin-bottom: 20px;
    justify-content: center;
  }
  .footer_cpyright {
    text-align: center;
  }
  .comunity_m_area {
    padding: 60px 20px;
  }
  .gorvence_m_area {
    padding: 60px 20px;
  }
  .tk_list ul li,
  .tk_list h3 {
    font-size: 20px;
  }
  .tk_list_item {
    text-align: center;
    padding: 0 20px;
  }
  .tk_list_footer p {
    font-size: 18px;
  }
  .tk_brand {
    max-width: 375px;
  }
  .token_area {
    padding: 0;
    padding-top: 20px;
    margin-bottom: 50px;
  }
  .token_title {
    font-size: 28px;
  }
  .token_code {
    font-size: 18px;
  }
  .tk_header {
    width: 400px;
  }
  .roadmap_grap::after {
    left: 100px;
  }
  .roadmap_title {
    font-size: 36px;
  }
  .blog_body_area {
    grid-template-columns: 1fr;
  }
  .single_blgo_title {
    font-size: 28px;
  }
  .single_blog_btn {
    font-size: 18px;
  }
  .article_main_area {
    background: #0d0d5b;
    padding: 50px;
    margin-bottom: 100px;
  }
  .article_hTitle {
    font-size: 26px;
  }
  article .sectionArticle {
    font-size: 22px;
  }
  .aearn_area_shape {
    transform: rotate(319deg);
  }
  .aearn_area_shape img {
    display: none;
  }
  .earn_area{
    background: url('../images/yillow-lmobile-2.png') no-repeat scroll 0 0 / 100% 108%;
    padding-bottom: 470px; 
  }
  .tokenomic_content {
    background: url("../images/texno/texno-shape.png") no-repeat scroll 0 0 / 100% 100%;
}
.tokenomic{
  position: relative;
}
.mk_banner_content{
  opacity: 0;
}
.tokenomis_mobile_hero_text{
  display: block;
  border-radius: 20px;
  background: #0d0d5b;
  padding:40px 30px;
  transform: translateY(-85px);
}
.hero_area {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.hero_m_area{
  align-items: flex-start;
  position: relative;
}
.hero_content a{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 150px;
  text-align: center;
}
.page_section,
.contact_title{
  font-size: 36px;
}
.contact_title{
  margin-bottom: 50px;
}
.contact_title{
  margin-bottom: 40px;
  padding-top: 20px;
}
.privacy_title {
  font-size: 22px;
}
}

@media all and (max-width: 575px) {
  .page_section,
  .contact_title{
    font-size: 32px;
  }
  p {
    font-size: 16px !important;
  }
  .aearn_cont {
    margin-left: 20px;
    padding-bottom: 0;
  }
  .comnunity_text_innter {
    padding: 0 20px;
  }
  .footer_right {
    justify-content: space-around;
  }
  .comunity_m_area {
    padding: 60px 0px;
  }
  .gorvence_m_area {
    padding: 60px 0px;
  }
  .porject_preview_m_area {
    padding-bottom: 15px;
  }
  .gorvence_m_area,
  .comunity_m_area {
    margin-top: 15px;
  }
  .aearn_area {
    padding-top: 20px;
  }
  .tk_list ul li,
  .tk_list h3 {
    font-size: 18px;
  }
  .mk_banner_content {
    padding: 70px 0;
    height: 450px;
    display: flex;
    align-items: center;
  }
  .roadmap_grap::after {
    left: calc(20% - 9px);
  }
  .roadmap_title {
    font-size: 42px;
  }
  .single_blgo_title {
    font-size: 24px;
  }
  .single_blog_btn {
    font-size: 16px;
  }
  .contact_title{
    margin-bottom: 40px;
    padding-top: 20px;
  }
  .privacy_contetn {
    padding: 60px 30px;
  }
  .privacy_title {
    font-size: 20px;
  }
}

@media all and (max-width: 480px) {
  .hero_content h1 {
    font-size: 40px;
    display: inline-block;
  }
  .social_menu ul li a {
    height: 45px;
    width: 45px;
  }
  .token_code {
    font-size: 16px;
  }
  .token_title {
    font-size: 26px;
  }
  .roadmap_grap::after {
    left: 68px;
  }
  .roadmap_title {
    font-size: 32px;
  }
}
