:root {
  --avinir-font: "Avenir Arabic";
  --arial-font: "Arial";
  --helvetic-pro-font: "HelveticaNeueLTW06-93BlkExtObl";
  --helvetic-font: "Helvetica";
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: var(--arial-font);
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: var(--arial-font);
  font-family: "Arial";
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li a,
a {
  text-decoration: none;
  font-family: var(--helvetic-font);
  font-weight: bold;
}
img {
  height: 100%;
  width: 100%;
}
/* GLOBAL CSS HERE */
.btn_primary {
  border-radius: 13.5px;
  background: #f2fc20;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  display: block;
  padding: 6px 17px;
  font-weight: 500;
  color: #1415b3;
  font-weight: bold;
}
/* GLOBAL CSS HERE */
/*===========================================================================
=====================         Start Header Section         ==================
===========================================================================*/
.header_main {
  padding: 20px 0;
  background: #0d0d5b;
  box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 99;
}

.menu_area_main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
}

.logo img {
  max-width: 220px;
  width: 100%;
}
/* mobile menu */
.mobile_buttons {
  display: inline-block;
  /* color: wheat; */
  display: none;
}
.containers {
  display: inline-block;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #f2fc20;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 4px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
/* mobile menu */
.menu {
}

.menu ul {
  display: flex;

  align-items: center;
}

.menu ul li {
}

.menu ul li a.menu_link:hover {
  background-color: #0d0d5b;
  border: 1px solid white;
}

.menu ul li a.menu_link {
  font-size: 15px;
  color: white;
  transition: 0.5s;
  display: inline-block;
  padding: 6px 17px;
  border-radius: 11px;
  background: #1415b3;
  margin: 0 12px;
  border: 1px solid transparent;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/*===========================================================================
=====================          End Header Section          ==================
===========================================================================*/

.hero_m_area {
  background: url(../images/home/home-desktop.png) no-repeat scroll 0 0 / cover;
}
.hero_area {
  display: flex;
  justify-content: flex-end;
}

.hero_content {
  max-width: 450px;
  width: 100%;
  padding-top: 160px;
  display: inline-block;
  padding-bottom: 300px;
}

.hero_content h1::after {
  content: "";
  position: absolute;
  right: 20px;
  bottom: 0px;
  width: 72%;
  height: 1px;
  background: #fff;
}

.hero_content h1 {
  font-size: 60px;
  font-weight: 700;
  color: #f2fc20;
  line-height: 58px;
  position: relative;
}

.hero_content h1 span {
  color: white;

  font-weight: 300;
}

.hero_content a {
  font-size: 18px;
  color: white;
  transition: 0.5s;
  display: inline-block;
  padding: 8px 20px;
  background: #0D0D5B;
  border-radius: 15px;
  margin-top: 60px;
  line-height: 28px;
  border: 1px solid #f2fc20;
}
.hero_content a:hvoer {
  background: #f2fc20;
}
.porject_preview_m_area {
  background: #09093f;
  z-index: -1;
  padding-bottom: 70px;
}


.project_area {
  border-radius: 10px;
  background: url(../images/bg1.png) no-repeat scroll 0 0 / 100% 100%;
  margin-top: 60px;
  padding: 10px 20px 50px 20px;
}

.earn_area {
  border-radius: 10px;
  background: url(../images/home/yilow-desktop.png) no-repeat scroll 0 0 / cover;
  margin-top: 60px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.project_preview_shape{
  background: url('../images/bg.png')no-repeat scroll 0 0 / cover;
}
.project_preview_shape .row{
  border-radius: 15px;
}
.tokenomis_mobile_hero_text{
  display: none;
}
.gorvence_m_area,
.comunity_m_area {
  padding: 60px 20px;
  border-radius: 15px;
}
.project_thum {
  text-align: center;
}

.project_thum img {
  width: 100%;
  max-width: 350px;
  /* margin: auto; */
  /* text-align: center; */
}

.project_cont {
  max-width: 960px;
  width: 100%;
  margin: auto;
  text-align: center;
  color: white;
}

.aearn_cont {
  max-width: 420px;
  width: 100%;
  color: white;
  margin-left: 100px;
  padding-top: 60px;
  padding-bottom: 100px;
}

.project_cont h3 {
  font-weight: 700;
  font-size: 29px;
  color: yellow;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.aearn_cont h3 {
  font-weight: 700;
  font-size: 29px;
  color: yellow;
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.project_cont h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 48%;
  height: 2px;
  background: #a2a2f7;
}

.aearn_cont h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 2px;
  background: #a2a2f7;
}

.project_cont h3 span {
  color: white;
}

.aearn_cont h3 span {
  color: white;
}

.project_cont p {
  font-size: 20px;
  /* padding: 10px; */
  padding-top: 10px;
  line-height: 24px;
}

.aearn_cont p {
  font-size: 20px;
  /* padding: 10px; */
  padding-top: 10px;
  line-height: 24px;
}

.aearn_right {
}

.aearn_right img {
  width: 100%;
  max-width: 300px;
  height: auto;
}
.comunity_m_area {
  background: url(../images/bg3.png) no-repeat scroll 0 0 / 100% 100%;
  padding: 60px 0;
  margin-top: 40px;
}
.gorvence_m_area .comnunity_text_out_box {
  justify-content: flex-start;
}
.gorvence_m_area {
  background: url(../images/bg4.png) no-repeat scroll 0 0 / 100% 100%;
  padding: 60px 0;
  margin-top: 40px;
}
.comnunity_text_out_box {
  display: flex;
  justify-content: flex-end;
  max-width: 930px;
  margin: auto;
  width: 100%;
}
.comnunity_text_innter {
  max-width: 400px;
  width: 100%;
}
.comnunity_text_innter .project_cont {
  text-align: left;
}

/* MAKER CSS HERE */
.mk_app_area {
display: block;
background: url('../images/app/ap-hero-bg.png') no-repeat scroll 0 0 / 100% 100%;
padding: 50px 0;
margin-bottom: -2px;
}
.mk_app_shape img {
  height: 100%;
  width: 100%;
}
.mk_app_title {
  font-weight: normal;
  font-size: 60px;
  letter-spacing: 0em;
  color: #fff;
  padding-bottom: 20px;
}
.mk_app_title span {
  color: #f2fc20;
  font-weight: bold;
}
.mk_app_hero_text p {
  color: #fff;
  padding-bottom: 10px;
}
.back_btn {
  display: block;
  color: #fff;
  font-size: 18px;
}
.back_btn:hover {
  color: #fff;
  text-decoration: underline;
}
/* MODAL CSS HERE */
.modal_body {
  max-width: 570px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 20px;
  background: #0d0d5b;
  box-shadow: 0px 23px 6px rgba(0, 0, 0, 0.16);
  padding: 20px;
}
.modal_header {
  text-align: left;
}
.modal_close {
  padding: 10px;
  color: #fff;
}
.modal_close:hover i {
  color: red;
}
.modal_content {
  padding: 20px 30px;
}
.modal_socail ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
  justify-content: center;
}
.modal_socail ul li a {
  height: 40px;
  width: 40px;
  display: block;
}
.modal_content h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.06em;
  color: #fff;
  padding-bottom: 10px;
}
.modal_content h2 span {
  color: #f2fc20;
}
.modal_content p {
  color: #fff;
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.modal_form {
  display: block;
}
form input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 9px;
}
form input[type="email"] {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  margin-bottom: 10px;
}
form input[type="submit"] {
  background: #fff;
  border: 1px solid #fff;
  color: #0d0d5b;
}

/* MAKER CSS HERE */
/* footer */
.footer_out_box {
  background: #0d0d5b;
  padding: 35px 0;
}

.footer_m_area {
  max-width: 850px;
  width: 100%;
  margin: auto;
}

.footer_area {
  display: flex;
  justify-content: space-between;
}

.footer_left {
  flex-basis: 60%;
}

.footor_log {
}

.footor_log img {
  max-width: 280px;
  width: 100%;
}

.footer_orm {
  margin-top: 25px;
}

.input_itms {
}

.input_itms input::placeholder {
  color: white;
  opacity: 1;
}

.input_itms input {
  border-radius: 8px;
  padding: 9px;
  width: 100%;
  background: transparent;
  border: 1px solid white;
}

.input_itms input[type="submit"] {
  background: white;
  margin-top: 10px;
  text-transform: capitalize;
}

.social_menu {
  margin-top: 30px;
}

.social_menu ul {
  display: flex;
}
.social_menu ul li:first-child a {
  background: transparent;
}
.social_menu ul li a {
  display: flex;
  height: 55px;
  width: 55px;
  justify-content: center;
  align-items: center;
  background: yellow;
  border-radius: 50%;
  margin-right: 15px;
}

.social_menu ul li a:hover i {
  color: black;
}
.social_menu ul li a i {
  color: #0d0d5b;
  transition: 0.5s;
  font-size: 30px;
}

.footer_right {
  flex-basis: 35%;
}

.footer_right {
  display: flex;
  justify-content: space-between;
}

.footer_widgets h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11px;
  width: 100%;
  height: 2px;
  background: #a2a2f7;
}

.no_after h1:after {
  display: none;
}

.footer_widgets {
}

.footer_widgets h1 {
  position: relative;
  color: yellow;
}

.footer_widgets ul {
  margin-top: 30px;
}

.footer_widgets ul li {
}

.footer_widgets ul li a:hover {
  border-bottom: 1px solid white;
}
.footer_widgets ul li a {
  color: white;
  font-size: 16px;
  margin: 4px 0px;
  transition: 0.5s;
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.footer_widgets ul li a img {
  max-width: 75px;
  width: 100%;
  margin-top: 20px;
}

.footer_cpyright {
  max-width: 850px;
  width: 100%;
  margin: auto;
  text-align: right;
}
.footer_cpyright p a {
  font-size: 15px;
  color: white;
}

/* footer */
/* TEXONOMY AREA */
.tokenomic {
  background: url("../images/texno/texno-bg.png") no-repeat scroll 0 0 / 100%
    100%;
}
.tokenomic_content {
  background: url("../images/texno/texno-shape.png") no-repeat scroll 0 0 / 125%
    114%;
}
.mk_banner_content {
  padding: 70px 0;
  height: 650px;
  display: flex;
  align-items: center;
}
.mk_banner_content {
  max-width: 950px;
  margin: 0 auto;
}
.mk_banner_title {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  position: relative;
  margin-bottom: 20px;
}
.mk_banner_title::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 70%;
  background: #fff;
  content: "";
}
.mk_bannerPragrap {
  color: #fff;
  font-size: 18px;
}
.tk_main_area {
  background: #09093f;
}
.tk_main_body {
  background: url("../images/texno/tk_body_baner.png") no-repeat scroll 0 0 /
    cover;
  padding: 70px 0;
}
.tk_header {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 50px;
}
.tk_list {
  background: #0d0d5b;
  border-radius: 20px;
  padding: 50px 0;
}
.tk_list h3 {
  color: #fff;
  font-size: 24px;
  padding-top: 30px;
  font-weight: 900;
  line-height: 36px;
  font-family: var(--arial-font);
}
.tk_list ul {
  padding-top: 20px;
}
.tk_list ul li {
  font-size: 24px;
  color: #fff;
  padding-bottom: 10px;
  font-weight: 900;
  font-family: var(--arial-font);
}
.tk_list_footer {
  padding: 40px 0 20px 0;
  max-width: 550px;
  margin: 0 auto;
}
.tk_list_footer p {
  border-radius: 15px;
  border: 2px solid #fff;
  padding: 15px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}
/* TEXONOMY AREA */
.brand_area {
  padding: 50px 0;
  margin-top: 30px;
}
.tk_brand {
  display: flex;
  max-width: 450px;
  column-gap: 50px;
  row-gap: 20px;
  align-items: center;
  border-radius: 82px;
  border: 2px solid #fff;
  background: #fff;
  margin: 0 auto;
  padding: 20px 40px;
}
.token_area {
  padding: 50px 0;
  margin-bottom: 50px;
}
.tk_token {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
  border-radius: 25px;
  background: #0d0d5b;
  color: #fff;
}
.token_title {
  font-size: 32px;
  font-weight: 900;
  padding-bottom: 10px;
}

.token_code {
  color: #fff;
  font-family: var(--avinir-font);
  font-weight: 400;
  font-size: 24px;
}
.token_code:hover {
  color: #f2fc20;
}
/* ROADMAP AREA */
.roadmap_area {
  background: url("../images/roadmap-bg.png") no-repeat scroll 0 0 / 100% 100%;
  padding: 70px 0;
}
.roadmap_title {
  color: #fff;
  font-weight: 900;
  font-size: 60px;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  display: inline-block;
}
.roadmap_content {
  padding-top: 100px;
  margin-bottom: 200px;
}
.roadmap_grap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: relative;
}
.roadmap_grap::after {
  position: absolute;
  height: 4px;
  width: 90%;
  left: 5%;
  top: calc(53% - 2px);
  content: "";
  background: #fff;
}
.roadmap_single {
  text-align: center;
}
.grap_title {
  color: #fff;
  height: 70px;
  font-weight: 900;
}
.grap_subtitle {
  color: #fff;
  padding-top: 50px;
  position: relative;
  font-weight: 900;
}
.grap_subtitle::after {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #000;
  border: 3px solid #fff;
  top: 9px;
  left: calc(50% - 10px);
  z-index: 9;
}
/* BLOG PAGE HERE */
.blog_area {
  background: #09093f;
}
.blog_area_content {
  background: url("../images/bg.png") no-repeat scroll 0 0 / cover;
  padding: 70px 0;
}
.single_blog {
  background: #0d0d5b;
  padding: 50px 30px;
  border-radius: 15px;
  text-align: center;
}
.single_blgo_title {
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  color: #f2fc21;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.single_blgo_title span {
  color: #fff;
}
.single_blgo_title::after {
  position: absolute;
  left: 0;
  right: 0;
  height: 2px;
  width: 50px;
  background: #fff;
  content: "";
  bottom: 0;
  margin: 0 auto;
}
.single_blog_subtitle {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}
.single_blog_pragrap {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: left;
  padding: 0 10px;
  padding-bottom: 40px;
}
.single_blog_btn {
  border-radius: 22px;
  background: #f2fc20;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  color: #0d0d5b;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.3s all ease;
}
.single_blog_btn:hover {
  background: #fff;
  color: #0d0d5b;
}
.blog_area_content .row {
  align-items: center;
}
.blog_body_area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
.ultra_proMax {
  color: #fff;
}
.ultra_proMax span {
  color: #f2fc20;
}
/* ARTICLE PAGE HERE */
.article_section {
  background: #09093f;
}
.article_body_content {
  background: url("../images/bg.png") no-repeat scroll 0 0 / cover;
}
.article_main_area {
  background: #0d0d5b;
  padding: 50px 100px;
  margin-bottom: 100px;
}
.article_main_content {
  padding-top: 50px;
}
.article_hTitle {
  font-weight: 700;
  font-size: 28px;
  color: #fff;
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 35px;
}
.article_hTitle::after {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100px;
  content: "";
  background: #fff;
}
.article_hTitle span {
  color: #f2fc21;
}
article {
  padding-bottom: 20px;
}
article .sectionArticle {
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  padding-bottom: 20px;
}
article .article_pragrap {
  padding-bottom: 20px;
  color: #fff;
  font-weight: 400;
}
/* ARTICLE PAGE HERE */
/* PRIVACY AREA */
.privacy_area{
  background: #09093F;
  padding-bottom: 70px;
}
.privacy_area_shape{
  background: url('../images/bg.png') no-repeat scroll 0 0 / cover;
}
.privacy_contetn{
  background: #0D0D5B;
  padding: 70px 100px;
  color: #fff;
}
.page_section{
  font-weight: bold;
  font-size: 52px;
  color: #fff;
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}
.page_section span{
  font-weight: 900;
  color: #f2fc20;
}
.page_section::after{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  background: #fff;
  width: 150px;
  content: '';
}
.privacy_single{
  padding-bottom: 30px;
}
.privacy_title{
  font-size: 30px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 20px;
  font-family: var(--arial-font);
}
.privacy_single p{
  font-family: var(--arial-font);
  font-weight: 500;
}
.privacy_list {
  padding-top: 20px;
}
.privacy_subTitle{
  font-size: 18px;
  padding-bottom: 20px;
}
.privacy_single p a{
  color: #f2fc20;
}
.privacy_single p a:hover{
  text-decoration: underline;
}
/* PRIVACY AREA */
